
body{
    margin:0px;
    background: url(./asset/wand.jpg) bottom no-repeat;
    /* background-size: cover; */

}

:root{
    --pink: rgba(221, 160, 160, 0.34);

}
.cat{
    background-color: blanchedalmond;
    padding:32px;
    border-radius: 12px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 8px;
}

.hero{
    grid-area:hero;
    margin:20px;
    padding:5vh;
    height: 50vh;
      
}

.hero-text{
    grid-area:hero;
    margin:20px;
    padding:10vh;
    padding-right:10vh;
    margin-right: 10vh;
    border-radius: 12px;
    color:black;
    background-color: var(--pink);
    position: inherit;
    text-align: left;
    letter-spacing: 5px;
    /* color: blanchedalmond; */


}

.how-to{
    margin:20px;
    flex-wrap: wrap ;
    padding-left: 40px;
    grid-area: how-to;
    font-size: large;
    background-color: rgba(221, 160, 160, 0.231);
    border-radius: 10px;
    /* position: relative; */
}

.how-flex{
    /* display:flex; */
    flex-wrap: wrap;
    padding-top:12px;
}

.nav{
    position: sticky;
    background-color: var(--pink);
    top:0;
}

.nav-element{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

.nav-element a{
    text-decoration: none;
    color: black;

}

.nav-element a:hover{
    text-decoration: none;
    color: black;
    font-size: larger;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px var(--font-color2);

}

.drop{
    cursor: pointer;
    color: var(--font-color);

}

.drop:hover .dropDown {
    color: var(--hover-glow);
    cursor: pointer;
    display: block;
    
}

.drop:hover {
    text-decoration: none;
    color: var(--font-color);
    font-size: larger;
    cursor: pointer;
    text-shadow: 2px 2px 10px var(--font-color);

}

/* Styling the drop down menu */
.dropDown{
    display: none;
    position: absolute;
    background-color: var(--pink);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: var(--box);
    padding: 10px 15px;
    z-index: 1;
    cursor: pointer;
    color: var(--font_color);
}

.dropDown li{
    list-style-type: none;
}

.how-to-text{
    grid-area: how-to-text;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    /* position: relative; */

}

.how-to-image{
    grid-area: how-to-image;
    /* position: relative; */
    width: 50vw;
    height: 50vh;
}
.footer-s{
    grid-area:footer;
    padding:50px;
    margin: 0;
    background-color: rgb(58, 35, 35);
    color:aliceblue;
}
/* 
grid-container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
        "cat cat cat"
        "hero hero hero"
        "how-to how-to how-to"
        "footer-s footer-s footer-s"
    ;

} */

